//  biến màu, phong chữ
$font: 'Rubik', sans-serif;
$text-color: #4F5665;
$heading-color: #0B132A;
$primary_color: #F53838;
$gray_color: #DDE0E4;
$gray-light-color:#FBFBFB;
$gray-lighter-color: #DDDDDD;



